h1{background-color: black; border:aqua solid; color:aqua;}
.header{background-color: aqua;   border: solid rgb(0, 0, 0);}
.menu{display: flex; justify-content: space-between; font-size: 20px;}
.grid{border: 2px solid black; background-color: black;}
.origami{font-size: 20px; color: aqua; font-weight: bold;} 
.origami img{background-color: white; border: solid aqua; width: 310px; font-family: fantasy;}
